.clr{
	clear: both;
	width: 0px;
	height: 0px;
}
#container{
	margin: auto;
}
#header img{
	width: 100%;height: 80px;
}
#shou{
	margin: auto ;
	width: 1230px;height: 150px;
}
#logo{
	float: left;
}
#shousuo{
	float: right;
}
#url li{
	background:white: 90px ;
	margin:1px;;
	float: left;
}
#url a{
	font-size: 18px;
	font-family: "微软雅黑",simhei,simsun;
	display: block;
	color: #363636;
	width: 78px;
	height: 70px;
	text-align: center;
}
#jiao{
	background: blue};
#lsder{float: left;
}
#zhong{	
}
#rsder{float: right;}
}
